<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Pokój</h3>
    <ul class="nav nav-list">
      <li class="nav-header"></li>
      	<% @rooms.each do |room| %>
		<p>	<%= link_to room.name, main_room_path(room)  %> </p>
		<% end %>
<h3>Kategorie </h3><br>
		<% @categories.each do |cat| %>
		<p>	<%= link_to cat.name , main_category_path(cat) %> </p>
		<% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->